#second-row {
    display: flex;
    justify-content: space-between;
}

#input-form{
    margin: 15px;
    width: calc(33.5% - 30px)
}

#input-form > * {
    display: block;
    margin-top: 15px;
}

#disabled-start-field > button{
    visibility: hidden;
}

#disabled-start-field > input{
    background-color: lightgray;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.input-field > *:first-child {
    margin-left: 0;
}

.input-field > * {
    margin-left: 10px;
}

.input-field > input {
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: #777 2px 2px 3px;
}

.nonterminal, .production-rule {
    width: calc(calc(100% - 102px)/2);
    padding-left: 10px;
    background-color: ghostwhite;
}

.button, .wide-button {
    font-size: 20px;
    background-color: ghostwhite;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: none;
    box-shadow: #777 2px 2px 3px;
}

.wide-button {
    width: 74px;
}

.button > img {
    margin-top: 3px;
    width: 75%;
}